.questionBank__details {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 1rem;
  margin-bottom: 1rem;
  height: max-content;
}

.questionBank__details__line {
  margin-top: 1rem;
  border-right: 2px solid black;
}

.questionBank__details__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.questionBank__details__description {
  margin: auto;
  text-align: center;
  width: 50rem;
  height: max-content;
}

.questionBank__details__button {
  width: 10px;
  height: 10px;
}