.card_3d_note {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 180ms;
  cursor: pointer;
  transform: perspective(1500px) rotateX(var(--rotate-x, 0));
}

.card_3d_note.flip {
  --rotate-x: 180deg;
}

.card_3d_note .front {
  max-height: 19.75rem;
  overflow: auto;
  left: 0;
  padding-left: 2rem !important;
  width: 95%;
}

.card_3d_note .front,
.card_3d_note .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card_3d_note .back {
  transform: rotateX(180deg);
  backface-visibility: hidden;
  text-align: center;
}

.flashcard-options {
  margin-top: 0.5rem;
}

.flashcard-option {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.75rem;
}

.flashcard-option:first-child {
  margin-top: 0;
}
