.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41beff;
  width: 100vw;
  height: 20rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: auto;
}

.imgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
}

.imgBox img {
  width: 40rem;
  height: 50%;
  margin-top: -8rem;
  margin-bottom: 2rem;
}

.contentBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  height: 100%;
  margin-left: 2rem;
}

.content {
  width: 50vw;
  height: 100%;
  color: white;
}
